body{
    background-color:beige;
    color:black;
    font: normal 20pt Arial;
}
input {
    font: normal 15pt Arial;
    width: 170px;
    height: 30px;
    background-color: aliceblue;
}

div#res {
    color: grey;
}